<%- include("../partials/header")%>

<div class="container">
    <h1>Doctors</h1>
    <div class="lineshadow" style="margin-bottom: 30px;"></div>
    <div class="row text-center">
        <div class="col-2" style="margin-left: 80px;">
            <nav class="nav flex-column">
                <a class="btn btn-primary mb-2 mt-2" href="/clinics/clinic/<%=currentUserID%>/doctors/new"
                    id="newdoc">New doctor</a>
            </nav>
        </div>

        <% doctors.forEach(function(doctor){ %>
        <div class="col-9">
            <div class="thumbnail" style="width: 600px; height: 250px; padding: 10px;">
                <p>Name and Surname: <strong><%= doctor.name%> <%= doctor.surname%></strong></p>
                <h6>Specialization: <strong><%= doctor.specialization%></strong></h6>
                <h6>
                    E-mail: <strong><%= doctor.email%></strong>
                </h6>
                <h6>Working hours in the clinic: <strong><%= doctor.starthour%> to <%= doctor.endhour%></strong></h6>
                <form action="/clinics/clinic/<%=currentUserID%>/doctor/<%=doctor.id%>/hours" method="POST" class="form-inline"
                    style="width: 400px; margin: 0 auto">
                    <input class="block" type="time" name="starthour" value="<%= doctor.starthour%>"> -
                    <input type="time" name="endhour" value="<%= doctor.endhour%>">
                    <button class="btn btn-primary m-2">Edit working hours</button>
                </form>
                <a class="btn btn-primary m-2" href="/clinics/clinic/<%=currentUserID%>/<%=doctor.id%>/vacation">Add vacation leave</a>
                <a data-toggle="modal" data-target="#myModal<%=doctor.id%>" class="btn btn-danger">Sign out the doctor
                    from clinic</a>
                <div id='myModal<%=doctor.id%>' class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Sign out the doctor</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Doctor <%=doctor.name%> <%=doctor.surname%> will be sign out from your clinic.<br>
                                    Are you sure?</p>
                            </div>
                            <div class="modal-footer">
                                <form action="/clinics/clinic/<%=currentUserID%>/doctor/<%=doctor.id%>/delete" method="POST">
                                    <button class="btn btn-danger m-2" data>Yes</button>
                                </form>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%})%>
    </div>
</div>

<%- include("../partials/footer")%>