<%- include("../partials/header")%>
<div class="container">
    <h1>
        My Calendar:
    </h1>
    <h3 id="eventmess"></h3>
    <div class="row">
        <div class=" col-12">
            <div id='calendar'></div>
        </div>
    </div>
            
    <div class="col-12">
        <h4> Click on the event and see detiled information</h4>
        <p id="info"></p>
    </div>
</div>
<script>
    var events1 = [];
    var today = JSON.stringify(moment())
    today = JSON.parse(today)
    var starthour = "08:00:00"
    var endhour = "20:00:00"
    "<%if(docevents.length > 0){%>"
     "<%docevents.forEach(function(event){%>"
    var start =<%-JSON.stringify(event.startslot) %>;
    if (<%- JSON.stringify(event.type) %> == "vacation"){
        var newevent = {
            id: <%- JSON.stringify(event.id) %>,
            end: <%- JSON.stringify(event.endslot) %>,
            start: <%-JSON.stringify(event.startslot) %>,
            title: "Vacation - " + <%-JSON.stringify(event.clinic) %>,
        };
    } else{
    if (today < start) {
        var newevent = {
            id: <%- JSON.stringify(event.id) %>,
            end: <%- JSON.stringify(event.endslot) %>,
            start: <%-JSON.stringify(event.startslot) %>,
            title: <%-JSON.stringify(event.clinic)%> + " Patient: " + <%-JSON.stringify(event.name) %> + " " + <%-JSON.stringify(event.surname) %>,
            color: "green"
        };
    } else {
        var newevent = {
            id: <%- JSON.stringify(event.id) %>,
            end: <%- JSON.stringify(event.endslot) %>,
            start: <%-JSON.stringify(event.startslot) %>,
            title: <%-JSON.stringify(event.clinic)%> + " Patient: " + <%-JSON.stringify(event.name) %> + " " + <%-JSON.stringify(event.surname) %>,
            color: "red"
        };
    }
    }
    events1.push(newevent)

    "<%});%>"
"<%} else {%>"
    $("#eventmess").text("You do have any events in you calendar");
    "<%}%>"

    $(document).ready(function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            height: 500,
            themeSystem: 'bootstrap',
            expandRows: true,
            slotDuration: "00:20:00",
            slotLabelInterval: "00:20:00",
            slotMinTime: starthour,
            slotMaxTime: endhour,
            weekends: false,
            allDaySlot: false,
            selectable: true,
            defaultTimedEventDuration: "00:20:00",
            eventColor: '#85D2d9',
            selectOverlap: false,
            events: events1,
            eventClick: function(calEvent, jsEvent, view)  {
                console.log(calEvent)
                var start = JSON.stringify(calEvent.event._instance.range.start)
                if(today > JSON.parse(start)){
                var title = calEvent.event._def.title.split(" ");
                $("#info").html("<div class='thumbnail'><p> <strong>Clinic:</strong> "+ title[0]+ "  <button class='btn btn-sm btn-primary'>See more about the clinic</button>" +"</p>"+ "<p> <strong>Patient:</strong> "+ title[2] + " " + title[3] + "<p> <strong>Date:</strong> " + calEvent.event._instance.range.start +"</p> <a class='btn btn-sm btn-primary' href='/doctors/doctor/appointment/edit/"+ calEvent.event._def.publicId + "'>See visit</a></div>")
                } else {
                var title = calEvent.event._def.title.split(" ");
                console.log(calEvent.event._def.publicId)
                $("#info").html("<div class='thumbnail'><p> <strong>Clinic:</strong> "+ title[0]+ "  <button class='btn btn-sm btn-primary'>See more about the clinic</button>" +"</p>"+ "<p> <strong>Patient:</strong> "+ title[2] + " " + title[3] + "<p> <strong>Date:</strong> " + calEvent.event._instance.range.start +"</p><a class='btn btn-sm btn-primary' href='/doctors/doctor/appointment/new/" + calEvent.event._def.publicId + "'>Add to visit</a></div>")
                }
            },
        });
        const slotLabelOption = {
            hour: 'numeric',
            minute: '2-digit',
            omitZeroMinute: false,
            meridiem: 'narrow',
            hour12: false
        };
        calendar.setOption('slotLabelFormat', slotLabelOption);
        calendar.render();
    });

</script>