<%-include("../partials/header")%>
<div class="container">
    <h1> Edit Appointment</h1>
    <div class="lineshadow" style="margin-bottom: 30px;"></div>
    <h3><strong>Patient: </strong> <%=appointment[0].name%> <%=appointment[0].surname%></h3>
    <h5><strong>Date and Time of the appointment:</strong></h5>
    <h5> <%=appointment[0].startslot%> <%=appointment[0].surname%></h5>
    <form  class="thumbnail" style="width: 750px; height: 170px; padding: 10px; margin: 0 auto; " action="/doctors/doctor/upload/<%=appointment[0].idE%>" enctype="multipart/form-data" method="POST">
        <h2>Add files:</h2>
        <input style="background-color: darkcyan; width: 400px; height: 42px;" class="form-control" type="file" name="exam" accept=""/>
        <button class="btn btn-primary">Add file</button>
    </form>
    
    <div class="thumbnail" style="width: 750px; height: 150px; padding: 10px; margin: 0 auto; margin-top: 10px; margin-bottom: 10px;">
        <h2>Added findings: </h2>
        <ul>
    <%if(files.length>0){%>
        <%files.forEach(function(file){%>
            <li> <strong>File added at: </strong> <%= file.updated_at%><br> <strong>Name:</strong> <a  style="color: darkcyan"href="/download/<%= file.name%>"><%= file.name%></a></li>
    <%})}%>
</ul>
</div>
    <form action="/doctors/doctor/<%=currentUserID%>/appointment/edit/<%=appointment[0].idE%>" method="POST">
        <div class="row justify-content-center">
            <div class="col-5">
                <div class="thumbnail med" >
                    <h4>Medicaments </h4>
                    <ul>
                    <%if(medicaments.length>0){%>
                    <%medicaments.forEach(function(med){%>
                        <li>
                    <label>Name: "<%=med.name%>"</label>
                    <label class='ean'>EAN: "<%=med.EAN%>"</label>
                    <label class='package'>Package: <%=med.package%></label>
                    <label ><strong>Dosage:</strong> <%=med.dosage%></label>
                </li>
                    <%})}else{%>
                    <h1>No prescribed medicatons</h1>
                    <%}%>
                </ul>
                </div>
            </div>
            <div class="col-5">
                <div class="thumbnail med">
                    <h4>Prescribed Examinations </h4>
                    <ul>
                    <%if(examinations.length >0){%>
                    <%examinations.forEach(function(exam){%>
                        <li>
                    <label>Name: <%=exam.name%></label>
                   
                    <label id="examinfo">Addicional examination information: <%=exam.info%></label>
                </li>
                    <%})%>
                    <%} else{%>
                    <h1>No prescribed examinations</h1>
                    <%}%>
                </ul>
                </div>
            </div>
        </div>
        <h2>Diagnosis </h2>
            <div class="lineshadow" style="margin-bottom: 30px;"></div>
        <div class="row">
            
            <div class="col-12 align-center">
                <%if(diagnose.length>0){%>
                    <textarea type="text" name="diagnose" id="diagnose"
                        style="height: 200px; width: 700px;"><%=diagnose[0].diagnose%></textarea>
                    <%} else{%>
                    <textarea type="text" name="diagnose" id="diagnose" placeholder="No diagnoses"
                        style="height: 200px; width: 700px;"></textarea>
                    <%}%>
            </div>
        </div>
    <button class="btn btn-primary">Edit</button>
</form>
</div>