<%- include("./partials/header")%>

<div class="container">
    <div class="m-2">
    <h2>Doctor <%=name[0]%> <%=name[1]%> is avaliable in:</h2>
</div>
<div class="lineshadow mb-3"></div>
    <div class="row text-center">
        <% clinics.forEach(function(clinic){ %>
            <% clinic.find(TextRow =>{ %>
        <div class="col-md-4 col-sm-4 col-xs-12 animated fadeInDown">
            <div class="well profile_view">
                <div class="col-sm-12">
                    <div class="left col-xs-7 mb-2">
                        <h1><%= TextRow.name%></h1>
                        <ul class="list-unstyled">
                            <li><strong>Open hours</strong> <%=TextRow.openhour%> <%=TextRow.endhour%></li>
                            <li><strong> <i class="fas fa-map-marked-alt"></i> Adress:</strong> <%= TextRow.city%>
                                <%= TextRow.zipcode%> <%= TextRow.street%></li>
                        </ul>
                        <p>Contact: </p>
                        <p><strong><i class="fas fa-at"></i> Email: </strong> <%= TextRow.email%></p>
                        <p><strong><i class="fa fa-phone"></i> Phone: </strong> <%= TextRow.phone%></p>
                    </div>
                </div>
            </div>
        </div>
        <%})%>
<%}) %>
    </div>
</div>

<%- include("./partials/footer")%>