<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;800&display=swap" rel="stylesheet">
  <link href=https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.1.0/main.min.css,npm/fullcalendar@5.1.0/main.min.css
    rel="stylesheet">
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
  <script
    src=https://cdn.jsdelivr.net/combine/npm/fullcalendar@5.1.0/main.min.js,npm/fullcalendar@5.1.0/locales-all.min.js,npm/fullcalendar@5.1.0/locales-all.min.js,npm/fullcalendar@5.1.0></script>
  <title>DocCal</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="/home">DocCal</a>
    <ul class="navbar-nav d-inline ml-auto order-0 order-md-1">
      <%if(!currentUserID){%>
      <li class="nav-item d-inline">
        <a class="nav-link hvr-grow" href="/login"><i class="fas fa-unlock-alt"></i> Login</a>
      </li>
      <li class="nav-item d-inline">
        <a class="nav-link hvr-grow" href="/signup"><i class="fas fa-user"></i> Sign Up</a>
      </li>
      <% } else{%>
      <li class=nav-item>
        <a class="nav-link hvr-grow" href="/logout"><i class="fas fa-user"></i> Logout</a>
      </li>
      <%}%>
        </ul>

        <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mr-auto" id="navbarSupportedContent">
          <ul class="navbar-nav  order-1 order-md-0">
            <li class="nav-item">
              <a class="nav-link hvr-grow" href="/home">Home  <span class="sr-only">(current)</span></a>
            </li>
            <%if(type === "doctor"){%>
      <li class="nav-item">
        <a class="nav-link hvr-grow" href="/doctors/doctor">Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-grow" href="/doctor/clinics">My Clinics <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-grow" href="/doctor/patients">My Patients <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-grow" href="/doctors/doctor/<%=currentUserID%>/calendar">Calendar <span
            class="sr-only">(current)</span></a>
      </li>
      <% } else if(type === "patient"){%>

      <li class="nav-item">
        <a class="nav-link hvr-grow" href="/patients/patient">Profil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-grow" href="/patients/patient/appointment">Appointments <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-grow" href="/patient/medications">Medications <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-grow" href="/patient/fidnings">Findings <span class="sr-only">(current)</span></a>
      </li>
      <% } else if(type === "clinic"){%>
      <li class="nav-item">
        <a class="nav-link hvr-grow" href="/clinics/clinic">Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-grow" href="/clinics/clinic/<%=currentUserID%>/doctors"> Doctors <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-grow" href="/clinic/<%=currentUserID%>/patient">My Patients <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-grow" href="clinics/clinic/<%=currentUserID%>/calendar">My Calendar <span
            class="sr-only">(current)</span></a>
      </li>
      <%} else {%>
      <li class="nav-item">
        <a class="nav-link hvr-grow" href="/allclinics">Clinics <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link hvr-grow" href="/alldoctors">Doctors <span class="sr-only">(current)</span></a>
      </li>
      <%}%>
          </ul>
        </div>
      </nav>
      <div class="container">
        <% if(error && error.length > 0 ){%>
      <div class="alert alert-danger" role="alert">
        <h1><%=error%></h1>
      </div>
      <%}%>
        <% if(success && success.length >0){%>
      <div class="alert alert-success" role="alert">
        <h1><%=success%></h1>
      </div>
      <%}%>
    </div>
  </nav>