<%-include("../partials/header")%>
<div class="container">
    <h1> Findings</h1>
    <div class="lineshadow" style="margin-bottom: 30px;"></div>
    <%if(findings.length>0){%>
        <%findings.forEach(function(find){%>
    <div class="thumbnail" style="padding: 5px; width: 700px; margin: 0 auto;">
        <h5>Appoinetment at <strong><%= find.clinic%></strong></h5>
        <div class="shortline" style="margin-bottom: 30px;"></div>
        <div class="row justify-content-center">
            <div class="col-2" style="text-align: left;">
                <h5>Date: </h5>
                <h5>Doctor: </h5>
                <h5>Findings: </h5>
            </div>
            <div class="col-10">
                <h5><%= find.startslot%></h5>
                <h5><%= find.name%>  <%= find.surname%></h5>
                <table style="border: 1px solid black; margin: 0 auto;">
                    <tr > <td>Name</td>  </tr>
                    <tr> <td><a style="color: darkcyan;" href="/download/<%= find.name%>"><%= find.file%></a></td></tr> 
                </table>
            </div>
        </div>
            
        <%})}%>
    </div>
</div>